@import url('../index.css');

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    padding: 10px 10px;
    font-family: var(--font-primary);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    height: 1em;
    top: 0;
}

img{
    width: 9em;
    margin-right: auto;
    cursor: pointer;
    color: black;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    padding: 0 .5em;
}



header a {
    text-decoration: none;
    color: var(--red-clr-1);
    border: none;
    padding: 1.5em 2em;
    cursor: pointer;
    margin-left: 1.5em;
    font-size: .1em; 
    background:
    linear-gradient(
      to right,
      rgb(200, 185, 100),
      rgba(200, 185, 100, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgb(200, 107, 0),
      rgb(190, 143, 12)
  );
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
    background-size: 0 1px, 100% 1px;
}



@media screen and (max-width: 450px) {
    img {
        width: 6em;
    }
}