:root {
    --background-black: #040404;
    --background-white: linear-gradient(-45deg, #f5f7fa,#f6f0ea, #fee2f8,#b8c6db);
    --background-red: #812929;
    --background-deep-red: #411515;

    --font-primary: 'Roboto', 'sans-serif';
    --font-secundary: 'Poppins', 'sans-serif';

    --red-clr-1: rgb(255,0,0);
    --red-clr-2: #f94449;
    --red-clr-3: #f69697;
    --yellow-clr: rgb(190, 143, 12); 
    --white-color: #f5f7fa;
    --black-color: rgb(34, 34, 34);

}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-weight: 300;
    background: var(--background-black);
    text-align: center;
}

::-webkit-scrollbar {
    display:none;
}